@model ControllerName
@{
    ViewData["Title"] = "Undervisning";
    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">
        Undervisning
    </h1>
</div>
<body>
    <div>
        <h2 title="page_subtitle" class="page_subheader text-center">
            Jeg udbyder temadage samt kurser af kortere og længere varighed og mere intensive uddannelsesforløb i den systemiske-narrative tilgang.
        </h2>
    </div>
    <div class="flex_box_wrapper page_text">
        <div class="flex_box_left">
            <p>
                <b>Kurser er en af vejene til inspiration, dygtiggørelse og faglig opkvalificering</b>, for ledere og medarbejdere.<br />
                Hver arbejdsplads har sin egen historie, sit eget særkende og har derfor vidt forskellige behov for opkvalificering. Kontakt mig gerne helt uforpligtende så vi sammen kan ”skyde os ind på” hvad der er jeres behov.<br /><br />

                Temadage, kurser og forløb tilrettelægges så der er en vekselvirkning mellem teori og praksis.<br />
                Korte teoretiske oplæg efterfulgt af øvelser efter guidelines. Det er min erfaring at praksisdelen – øvelse i at få bedre samtalepraksis - sker ved at gøre det og få værdsættende feed-back.<br />
                Så jeg forventer at kursister har lyst til og mod på at deltage aktivt.<br /><br />


                <b>Områder hvor jeg tilbyder temadage, kurser og uddannelse:</b><br /><br />

                •&nbsp;&nbsp;&nbsp;&nbsp;Systemisk anerkendende tilgang - som metode til rehabilitering<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Konflikthåndtering og konfliktforståelse<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Medarbejderen som coach - lær at styrke borgerens aktive deltagelse og mestringsevne<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Rehabilitering – inddrag borgeren og netværket.<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Den narrative samtale<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Eksternalisering; ”Ikke personen der er problemet...”.<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Genforfattende samtale; ny identitetsskabelse<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Kommunikation og samarbejde<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Kollegial supervision / lære at supervisere andre<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Reflekterende team / outsider witness group<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Den vanskelige samtale – proces og indhold<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Værdsættende tilgang og metode (Appreciative Inquiry)<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Om at skabe forudsætninger for ændring og udvikling<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Åben Dialog og familie-netværksarbejde<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Den motiverende samtale<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Skizofreni - herunder fx at arbejde med "mestring af stemmerne"<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Integreret indsats. Fx ACT (Assertive Community Treatment-team)<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Personlighedsforstyrrelser<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Umodne forsvarsmekanismer som fx splitting<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Afhængighed af alkohol og andre rusmidler<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;At samarbejde med borgere med "Udfordrende" adfærd, fx borgere med vold som udtryksform, udadreagerende adfærd, misbrug eller personlighedsforstyrrelser, fx borderline personlighedsstruktur
            </p>
        </div>
        <div class="flex_box_right">
            <p class="" title="previous_said">
                @*Tidligere kunde siger:<br />*@
            </p>
            <p title="statement">

            </p>
            <p title="said_by">

            </p>
            <p title="statement">

            </p>
            <p title="said_by">

            </p>
        </div>
    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>