@model ControllerName
@{
    ViewData["Title"] = "Undervisning";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">
        Jeg udbyder temadage og kurser i forskellige emner samt uddannelsesforløb i den <a href="https://widsell.dk/hvad-er-systemisk-narrativ-perspektiv/" target="_blank">systemiske-narrative</a> tilgang.
    </h1>
</div>
<body>
    <div class="flex_box_wrapper page_text">
        <div class="flex_box_left">
            <p>
                <a class="display-4">
                    Undervisning
                </a><br /><br />

                <b class="quote_headline">
                    Kurser er en af vejene til inspiration, dygtiggørelse og faglig opkvalificering
                </b><br /><br />

                Hver arbejdsplads har sin egen historie, sit eget særkende og har derfor vidt forskellige behov for opkvalificering.
                Kontakt mig gerne helt uforpligtende så vi sammen kan ”skyde os ind på” hvad der er jeres ønsker for udviklingsproces..<br /><br />

                Temadage, kurser og forløb tilrettelægges, så der er en vekselvirkning mellem teori og praksis.
                Korte teoretiske oplæg efterfulgt af øvelser styret af skriftlige guidelines.<br /><br />

                Det er min erfaring at størst udbytte/effekt på bedre samtalepraksis ind i hverdagen – sker ved at øve sig/ved at gøre det og få værdsættende feedback.<br />
                Så jeg forventer at kursister har lyst til og mod på at deltage aktivt. Læring sker i praksis.<br /><br />


                <b>Områder hvor jeg tilbyder temadage, kurser og uddannelse:</b><br /><br />

                <a class="page_list">
                    •&nbsp;&nbsp;&nbsp;&nbsp;Systemisk anerkendende tilgang - som metode til rehabilitering<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Konflikthåndtering og konfliktforståelse<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Medarbejderen som coach - lær at styrke borgerens aktive deltagelse og mestringsevne<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Rehabilitering – inddrag borgeren og netværket<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;At samarbejde med borgere med "Udfordrende" adfærd, fx borgere med vold som udtryksform, udadreagerende adfærd, misbrug eller personlighedsforstyrrelser, fx borderline personlighedsstruktur </br>
                    •&nbsp;&nbsp;&nbsp;&nbsp;Den narrative samtale<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Eksternalisering; ”Ikke personen der er problemet...”<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Genforfattende samtale; ny identitetsskabelse<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Kommunikation og samarbejde<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Kollegial supervision / lære at supervisere andre<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Reflekterende team / outsider witness group<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Den vanskelige samtale – proces og indhold<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Værdsættende tilgang og metode (Appreciative Inquiry)<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Om at skabe forudsætninger for ændring og udvikling<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Åben Dialog og familie-netværksarbejde<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Den motiverende samtale<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Skizofreni - herunder fx at arbejde med "mestring af stemmerne"<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Personlighedsforstyrrelser. Umodne forsvarsmekanismer som fx splitting<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Afhængighed af alkohol og andre rusmidler – tilgang og forståelse
                </a>
            </p>
        </div>
        <div class="flex_box_wrapper_column_right">
            <div class="flex_box_right">
                <p class="client_quote">
                    Kursister udtaler om udddannelsesforløb
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Overskrift”</b>
                </p>
                <p class="quote" title="statement">
                    ”Det var nogle spændende dage. Jeg kan godt lide din undervisning, som jeg oplever involverende og inspirerende. Jeg kan godt lide at lære nyt samt at forsøge at koble det på noget, jeg kender til I forvejen. Så tusind tak for det du kommer med”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Anonym.<br />
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Overskrift”</b>
                </p>
                <p class="quote" title="statement">
                    ”Ærligt er jeg blæst bagover. Virkelig god formidler som forstår at ”lære sit publikum at kende”. Jeg er særlig glad og inspireret, når teori kobles med egne fortællinger. Jeg har kun positive ting at sige. Højt fagligt niveau”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Anonym.<br />
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Overskrift”</b>
                </p>
                <p class="quote" title="statement">
                    ”Fremragende formidling. Inspirerende og let forståelig underviser. Rigtig god til at formidle. Fedt når teori og praksis kobles hvor du fortæller egne oplevede situationer. Jeg mærker virkelig engagement og det smitter”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Anonym.<br />
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Overskrift”</b>
                </p>
                <p class="quote" title="statement">
                    ”Meget engageret og kompetent underviser. Skaber et trygt rum for alle, så jeg tør øve mig i at udvikle mine samtalekompetencer”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Anonym.<br />
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Overskrift”</b>
                </p>
                <p class="quote" title="statement">
                    ”Det var nogle spændende dage. Jeg kan godt lide din undervisning, som jeg oplever involverende og inspirerende. Jeg kan godt lide at lære nyt og at forsøge at koble det på noget, jeg kender til I forvejen. Så tak for det du kommer med”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Anonym.<br />
                </p>
            </div>
        </div>
    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>