@model ControllerName
@{
    ViewData["Title"] = "Honorar";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<body>
    <div>
        <h2 title="page_subtitle" class="page_subheader text-center">
        </h2>
    </div>
    <div class="flex_box_wrapper">
        <div class="flex_box_left">
            <p>

            </p>
        </div>
        <div class="flex_box_right">
            <p class="" title="previous_said">
                Tidligere kunde siger:<br />
            </p>
            <p title="statement">

            </p>
            <p title="said_by">

            </p>
        </div>
    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>