@model ControllerName
@{
    ViewData["Title"] = "Priser & Honorar";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<body>
    <div class="flex_box_wrapper_column_full page_text">
        <div class="flex_box_full">
            <p>
                <b class="display-4">
                    Terapi <br /><br />
                </b>
                <a class="page_list">
                    •&nbsp;&nbsp;&nbsp;&nbsp;Individuel samtale - varighed 60 - 75 min. kr. 750,-<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Parsamtale - varighed 90 - 100 min. kr. 1150,-.<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Familiesamtale - varighed 90 - 100 min. kr. 1150,-.<br />
                </a>
                <br />
                Betaling efter hver samtale med mindre andet er aftalt.
            </p>
        </div>
        <div class="flex_box_full">
            <p>
                <b class="display-4">
                    Supervision af grupper og personaletræning i grupper <br /><br />
                </b>
                <a class="page_list">
                    •&nbsp;&nbsp;&nbsp;&nbsp;Ved grupper på op til 8 personer: 1400 kr. pr. time + moms + kørsel<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Ved grupper på mere end 8 personer: 1600 kr. pr. time + moms + kørsel<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Der beregnes tillæg ved transporttid ud over 1 time (tur-retur tilsammen): 550 kr. pr. time + moms.<br />
                </a>
            </p>
        </div>
        <div class="flex_box_full">
            <p>
                <b class="display-4">
                    Individuel medarbejder- eller ledersupervision / coaching <br /><br />
                </b>
                <a class="page_list">
                    •&nbsp;&nbsp;&nbsp;&nbsp;1150 kr. pr. time + moms + kørsel<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Der beregnes tillæg ved transporttid ud over 1 time (tur-retur tilsammen): 550 kr. pr. time + moms.<br />
                </a>
            </p>
        </div>
        <div class="flex_box_full">
            <p>
                <b class="display-4">
                    Undervisning – temadag - foredrag <br /><br />
                </b>
                •&nbsp;&nbsp;&nbsp;&nbsp;Honorar aftales ud fra den specifikke opgaves indhold og omfang.<br />
            </p>
        </div>
        <div class="flex_box_full">
            <p>
                <b class="display-4">
                    Annulleringsvilkår for supervision og undervisning mv. <br /><br />
                </b>
                •&nbsp;&nbsp;&nbsp;&nbsp;Når vi har indgået en aftale om supervision, undervisning mv., og du har booket og godkendt konkrete datoer, så er aftalen bindende. <br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Ifølge købeloven har du 14 dage til at fortryde dit køb af supervision, undervisning mv. Hvis du efter 14 dage fra aftalen er indgået, vælger at annullere aftalen, hæfter du for den aftalte supervisions-/ undervisningspris.

                <br /><br />
                Priserne er gældende fra 1. januar @DateTime.Now.Year
            </p>
        </div>
    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>