@model ControllerName
@{
    ViewData["Title"] = "More";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<body>
    <div>
        <h2 title="page_subtitle" class="page_subheader text-center">
            - Hvem er jeg?<br />
            - Nyttige Links<br />
            - Hvad er Systemisk og narrativ tilgang for noget?<br />
        </h2>
    </div>
</body>

<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>