@model ControllerName
@{
    ViewData["Title"] = "More";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3" style="font-size:1.8vmax; font-weight:bold; padding-top:20px;">@ViewData["Title"]</h1>
</div>
<body>
    <div style="padding:30px 0px 70px 0px">
        <h2 title="page_subtitle" class="text-center" style="margin: auto; font-size:1.2vmax; max-width: 80%;">
            - Hvem er jeg?<br />
            - Nyttige Links<br />
            - Hvad er Systemisk og narrativ tilgang for noget?<br />
        </h2>
    </div>
</body>

<div class="text-center" style="font-size:0.8vmax">
    <a> @Html.ActionLink("Tilbage til toppen", "Index", controllerstring, null, null, "BackToTop", null, null) | </a>
    <a> @Html.ActionLink("Tilbage til forsiden", "Index", "Home", null, null, "BackToTop", null, null) </a>
</div>