<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jens Ankersen - Psykoterapeut i Odense</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="renderbody">
    @* Add snow in december *@
    @if (DateTime.UtcNow.Month == 12)
	{
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
            ❅
            @*&#129370; -- Easter egg*@
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❅
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
        <div class="snowflake">
            ❆
        </div>
        <div class="snowflake">
            ❄
        </div>
    </div>
	}
    <header>
        <nav id="BackToTop" class="navbar navbar-light border-bottom-0">
            <div class="container justify-content-center">
                <a class="navbar-brand text-center thumbnail" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="header_container">
                        <div class="layout_header">
                            <p>
                                Jens Ankersen
                            </p>
                        </div>
                        <div class="organization_logo">
                            <img title="logo" style="height:100px;" src="~/images/dpf_logo.png" />
                        </div>
                    </div>
                    <p class="layout_subheader">
                        Samtaler, Supervision, Undervisning, Organisationsudvikling i et systemisk og narrativt perspektiv
                    </p>
                </a>
            </div>
        </nav>
        <nav class="border-top navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse line">
                    <ul class="navbar-nav flex-grow-1 justify-content-sm-around">
                        <li class="nav-item">
                            <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="Therapy" asp-action="Index">Terapi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="Organization" asp-action="Index">Organisationsudvikling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="Supervision" asp-action="Index">Supervision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="Teaching" asp-action="Index">Undervisning</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="About" asp-action="Index">Om Mig</a>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="Theory" asp-action="SystemiskOgNarrativ">Systemisk narrativ tilgang</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark thumbnail" asp-area="" asp-controller="Prices" asp-action="Index">Priser</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <img title="banner" class="layout_img" src="@Url.Content("~/images/frontpage-edit.jpg")" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted text-center">
        <div class="text-center bottom-nav">
            <a class="thumbnail" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt mig</a> -
            <a class="thumbnail" asp-area="" asp-controller="Prices" asp-action="Index">Priser & Honorar</a> -
            <a class="thumbnail" asp-area="" asp-controller="Privacy" asp-action="Index">Privatlivspolitik</a><br />
            &copy; @DateTime.Now.Year -
            Jens Ankersen
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
