<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jens Ankersen - Psykoterapeut i Odense</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="renderbody">
    <header>
        <nav class="navbar navbar-light border-bottom-0">
            <div class="container justify-content-center">
                <a class="navbar-brand text-center" asp-area="" asp-controller="Home" asp-action="Index">
                    Jens Ankersen<br />
                    Terapi og organisationskonsultation på systemisk og narrativt grundlag
                </a>
            </div>
        </nav>
        <nav id="BackToTop" class="border-top navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse line">
                    <ul class="navbar-nav flex-grow-1 justify-content-sm-around">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Therapy" asp-action="Therapy">Terapi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Organization" asp-action="Organization">Organisationsudvikling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Supervision" asp-action="Supervision">Supervision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Teaching" asp-action="Teaching">Undervisning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Contact">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="More" asp-action="More">Mere</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <img class="img" src="@Url.Content("~/images/sunimage.jpg")" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; @DateTime.Now.Year -
            Jens Ankersen -
            <a asp-area="" asp-controller="Contact" asp-action="Contact">Kontakt mig</a> -
            <a asp-area="" asp-controller="Prices" asp-action="Prices">Honorar</a> -
            <a asp-area="" asp-controller="Privacy" asp-action="Privacy">Privatlivspolitik</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
