@model ControllerName
@{
    ViewData["Title"] = "Organisationsudvikling";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">Hjælp til udvikling af arbejdspladsen - en samskabende proces</h1>
</div>
<body>
    <div class="flex_box_wrapper page_text">
        <div class="flex_box_wrapper_column_left">
            <div class="flex_box_left">
                <p>
                    <a class="display-4">
                        @ViewData["Title"]
                    </a><br /><br />

                    Alle organisationer undergår forandringer, som medfører at ledere og medarbejderne kommer til af møde nye udfordringer og nye måder at gribe kerneopgaver an på.<br />
                    For at lykkes bedst muligt med det, kræver det ofte at eksisterende kompetencer og mønstre får et slags serviceeftersyn.<br />
                    Det kan på enhver arbejdsplads fra tid til anden være udviklende, at der kommer "en gæst" udefra, som er aktiv i processen og som på neutral vis kan facilitere processen.

                    <br /><br />

                    <b>Emner for konsultationer kan være mangfoldige:</b>

                    <br /><br />

                    <a class="page_list">
                        •&nbsp;&nbsp;&nbsp;&nbsp;Udvikling af organisationen og ændrede rammer for kerneopgaven<br />
                        •&nbsp;&nbsp;&nbsp;&nbsp;Trivsel på arbejdspladsen<br />
                        •&nbsp;&nbsp;&nbsp;&nbsp;Konflikthåndtering<br />
                        •&nbsp;&nbsp;&nbsp;&nbsp;Samarbejdet mellem medarbejdere og ledelse<br />
                        •&nbsp;&nbsp;&nbsp;&nbsp;Ønsker om bedre samarbejde – samarbejdsrelationer<br />
                        •&nbsp;&nbsp;&nbsp;&nbsp;Krisehjælp til udsatte medarbejdere/organisation<br />
                        •&nbsp;&nbsp;&nbsp;&nbsp;Omstruktureringer/nedskæringer i organisationen<br />
                        •&nbsp;&nbsp;&nbsp;&nbsp;Faglige og personlige værdier i arbejdet – betydning på kerneopgaverne
                    </a>

                    <br /><br />

                    Jeg indgår som proceskonsulent, der stiller spørgsmål og tilrettelægger dialogen/processen, så der kan skabes rum for nye forståelser, nye måder at se hinanden på.<br />
                    Jeg fungerer som den samtalepartner, der i dialogen leder frem mod de ønskede mål.<br />
                    I det konkrete forløb betyder det, at det er jeres behov, ønsker og målsætning som er omdrejningspunktet og jeg byder ind med kommunikative metoder og fremgangsmåder til, at I kan komme i retning af  jeres målsætninger.

                    <br />
                </p>
            </div>
            <div class="flex_box_left">
                <p>
                    <a class="display-4">
                        Personaletræning
                    </a><br /><br />

                    <b>Personalegrupper bliver konstant udfordret i en faglig verden i bevægelse. Det er derfor nødvendigt løbende at undersøge, reflektere og evaluere de faglige og kollegiale processer.</b><br /><br />

                    I personaletræning er fokus på medarbejderne og deres indbyrdes arbejdsrelationer og "klimaet" i gruppen.<br /><br />

                    Et godt arbejdsmiljø kræver at både medarbejdere og ledere trives på arbejdspladsen.
                    I min optik er medarbejdere og ledere samskabende om arbejdspladsens trivsel og ligeværdige parter i at skabe et sundt og udviklende arbejdsmiljø.<br /><br />

                    I personaletræning vil jeg have fokus på relationerne, samspil og kommunikation og samarbejdsmønstre. Hvordan er stemningen i gruppen, føler den enkelte medarbejder sig anerkendt og værdifuld i løsningen af kerneopgaven og får alle udnyttet deres kompetencer optimalt.<br /><br />

                    <b>Målet er at få et godt og sundt arbejdsklima og få det maksimale ud af en gruppes ressourcer og kompetencer i forhold til kerneopgaven.</b><br /><br />


                    <b>Når der arbejdes bevidst med at forbedre arbejdsmiljøet i en medarbejdergruppe, skaber det grobund for uanede muligheder for vækst og udvikling, både fagligt og kollegialt.</b><br /><br />

                    Der aftales forløb tilpasset jeres organisation.<br />
                </p>
            </div>
            <div class="flex_box_left">
                <p>
                    <a class="display-4">
                        Konflikthåndtering
                    </a><br /><br />

                    <b>Uoverensstemmelser, modsætninger, konflikter</b> er en naturlig del af hverdagen i alle sammenhænge hvor mennesker mødes – derfor også på arbejdspladserne.
                    Det kræver et særligt fokus af se og få italesat modsætninger, så forskellige fortolkninger ikke påvirker arbejdsklimaet negativt.<br /><br />

                    Konflikter handler ofte om, at der er to eller flere forskellige forståelser af en given sag eller handling på spil.
                    Og at der ikke er sat ord på og etableret en åbenhed om det.<br />

                    Der opstår nemt konflikter, når vi ikke får talt om vores forskellige tolkninger og de intentioner og logikker der styrer en handling.<br /><br />

                    <b>
                        Konflikter kan være drænende, men de kan også - under forudsætning af at de håndteres respektfuldt og anerkendende - ses som potentielt sunde processer, der kan afstedkomme udvikling og samarbejde, problemløsning, kreativitet og læring i organisationen.<br /><br />

                        Jeg arbejder ud fra en systemisk og narrativ forståelse af konflikter og konflikthåndtering. Jeg er især optaget af måden, vi taler om konflikten på.<br />
                        Fokus er at genskabe et rum hvor der lyttes og på skift prøves at se konflikten fra forskellige sider
                    </b> med det formål, at få sat tingene i perspektiv og finde frem til, hvordan vi på en god måde kan komme videre sammen.<br />
                    Ud over at få overblik over uenighedens kerne, arbejdes der også på at genetablere den tillid, som parterne ofte har mistet til hinanden under konflikten.<br /><br />

                    <a href="mailto:jank61@hotmail.com?subject=Forespørgsel%20for%20organization">Kontakt</a> mig gerne for en uformel samtale om jeres organisation og de ønsker I har for udviklende processer.
                </p>
            </div>
        </div>
        <div class="flex_box_wrapper_column_right">
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”[...] udover at udstråle en masse god energi, giver medarbejdergruppen en masse fagligt at arbejde med”</b>
                </p>
                <p class="quote" title="statement">
                    ”Tak for din indsats gennem 7 år. En indsats, som i sin grundsubstans har ændret Solvang i og med det var dig, der fik ledelsen med ind i supervisionslokalet samtidig med du i højere grad fokuserede på den enkeltes tilgang/væremåde og den enkeltes handlemuligheder.
                    Du har været med til at nedbryde mentalt opbyggede barriere mellem medarbejderne og ledelsen og dermed har du været med til at skabe en kultur, som vores borgere den dag i dag stadig profitere af, fordi vi som personale har udviklet os i en langt mere hensigtsmæssig retning.
                    Og du har gjort det med den største respekt for den enkelte, du har altid sørget for, at alle gik ok ud af lokalet ligesom du har fulgt op på eventuelle løse ender – der skal være plads til alle og alle skal være med.<br />

                    Jeg kan faktisk ikke helt begribe, at der er gået 7 år for jeg syntes stadig, at du, udover at udstråle en masse god energi, giver medarbejdergruppen en masse fagligt at arbejde med – begge dele noget jeg i den grad kobler mig på.
                    Jeg har været særlig glad for din praktiske erfaring, for når du brugte eksempler fra en hverdag vi alle kunne genkende krydret med din nye faglighed gav det tit rigtig meget mening”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Teamleder Henrik Andersen, Bostedet Solvang, Socialpsykiatrisk botilbud i Lejre Kommune.<br />
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”ALLE FORTJENER EN JENS!”</b>
                </p>
                <p class="quote" title="statement">
                    <b style="font-style:normal;">Organisationsudvikling</b><br />
                    "Vi er blevet et fantastisk team, som smitter positivt af på hinanden, og vi anerkendes af andre for det sammenhold vi har fået i teamet - det er takket være din tilgang til os."<br /><br />

                    <b style="font-style:normal;">Individuelt forløb med samtaler</b><br />
                    "Personligt er jeg dig ubeskrivelig taknemmelig, selvom jeg i første omgang tænkte “han kan ikke lære mig noget nyt”. Men det gjorde du til skamme! For grundet din måde at møde mig på, er jeg et sundere sted med en solid tro på mig selv og bevidsthed om, hvordan jeg passer på mig selv samtidig med, at min ordentlighed er intakt. Tak for et giveligt samarbejde. TAK for dig!”
                </p>
                <p class="quote_said_by" title="said_by">
                    - Heidi Schrøder, Socialrådgiver Job- og Integration, Jobcenter Kolding.<br />
                </p>
            </div>
        </div>
    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>