@model ControllerName
@{
    ViewData["Title"] = "Samtaler";
    string controllerstring = Model.ControllerString;
}

<div class="text-center">
    <h1 class="display-3">Terapi til enkeltpersoner, til par, til familier og deres netværk</h1>
</div>
<body>
    <div class="flex_box_wrapper page_text">
        <div class="flex_box_left">
            <p>
                <a class="display-4">
                    @ViewData["Title"]
                </a><br /><br />

                Vores moderne tilværelse er kompleks og fuld af krav og forventninger. <br />
                Alle mennesker oplever perioder med udfordringer og vanskeligheder. Det meste af det klares ved egen indsats eller ved hjælp og støtte fra familie, gode venner eller nære kolleger.<br />
                Men nogen gange er det bare ikke nok. Man kan opleve frustration, forvirring, ulykkelighed, vrede, tomhed, depression og man føler sig kørt fast og ikke ved, hvordan man skal komme videre. Så er det en god ide at søge terapi/samtalebehandling.<br /><br />

                Jeg tilbyder terapeutiske samtaler ud fra en <b>systemisk og narrativ tilgang</b>. Det betyder i korte træk at jeg vil sætte spot på <b>muligheder, på håb og ønsker for fremtiden</b>. Væsentligt i denne tilgang er, at alle mennesker hele tiden danner deres helt eget billede af virkeligheden.<br />
                Jeg vil derfor altid anerkende den enkeltes oplevelser og den enkeltes historie og hidtidige indsatser i forhold til problemerne.<br />
                Samtalerne vil hovedsageligt have fokus på nutid og fremtid, men også betydningsfulde erfaringer fra fortid inddrages.<br /><br />

                Min opgave er at lytte og stille dig spørgsmål som sætter dig i retning af at opdage usete vinkler.
                Gennem samtalen vil det problem, der er baggrunden for henvendelsen, forhåbentlig blive mindre, og måske helt forsvinde ved at nye forståelser udvikles og nye idéer til handlinger opstår, eller at tidligere mestringsstrategier genopdages.
                <br /><br />

                
                •&nbsp;&nbsp;&nbsp;&nbsp;Samtalerne foregår på dine præmisser – dvs. at du afgør <b>hvad </b>der skal tales om, og hvad målet for samtalen skal være.<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Samtalerne bygger på en anerkendende tilgang, hvor jeg hjælper dig med at finde de ressourcer og styrker frem, som problemet måske har skygget for.<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Samtalerne har fokus på at bringe dig videre i livet, i den retning du ønsker.<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Samtalerne stræber imod, at du får skabt håb, energi, nye forståelser og får øje på nye og mere ønskværdige handlemuligheder i dit liv.<br /><br />
                •&nbsp;&nbsp;&nbsp;&nbsp;Samtalerne <b>går ud på at opdage nye muligheder og nye veje </b>eller forlige sig med problemet ved andre måder at tænke/handle/forholde sig til det på.<br />
            </p>
        </div>
        <div class="flex_box_wrapper_column_right">
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Jeg har lært meget om mig selv”</b>
                </p>
                <p class="quote" title="statement">
                    ”Tusinde tak for din hjælp – det har været meget konstruktivt og det føles som om jeg har fået værktøjer, jeg kan bruge i mine nære relationer, når/hvis det begynder at gå lidt skævt.
                    Jeg har lært meget om mig selv. Det har hjulpet mig meget til at forstå mine følelser, mine reaktioner og det har hjulpet mig med at bede om hjælp”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Katja Helmich Fraser, 6 samtaler.<br />
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”…vores bedste tid sammen. Vores varmeste anbefalinger til Jens!”</b>
                </p>
                <p class="quote" title="statement">
                    ”Fik anbefalet Jens af en bekendt. Vi gik til parterapi i lidt over et år, og det var uvurderligt. 
                    Min kæreste og jeg havde på det tidspunkt været sammen i 9 år, og var kommet i en hårdknude gennem længere tid. 
                    Vi var rimelig sikker på, at det var vores kommunikation, den var gal med, men under sessionerne fandt vi ud af, at vi havde langt dybereliggende problematikker, vi skulle arbejde med. 
                    Perioden, vi gik til terapi og den efterfølgende tid, var vores bedste tid sammen. Vores varmeste anbefalinger til Jens!”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Sugi Thiruchelvam.<br />
                </p>
            </div>
        </div>
    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>