@model ControllerName
@{
    ViewData["Title"] = "Privatlivspolitik";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<body>
    <div class="page_subheader text-center">
        THE BROWN FOX......<br />
        THE BROWN FOX......<br />
        THE BROWN FOX......<br />
        THE BROWN FOX......<br />
        THE BROWN FOX......<br />
        THE BROWN FOX......<br />
        THE BROWN FOX......<br />

    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>