@model ControllerName
@{
    ViewData["Title"] = "Privatlivspolitik";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<body>
    <div class="text-center">
        TODO
    </div>
</body>
<div class="text-center">
    <a> @Html.ActionLink("Tilbage til toppen", "Privacy", controllerstring, null, null, "BackToTop", null, null) | </a>
    <a> @Html.ActionLink("Tilbage til forsiden", "Index", "Home", null, null, "BackToTop", null, null) </a>
</div>