/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Mobile settings*/
@media only screen and (max-width: 575px) {
    .renderbody {
        max-width: 560px;
    }

    .row {
        flex-flow: column;
        height: 110vmax;
        width: 90vmax;
        margin: auto;
    }

    .header_container {
        display: flex;
        flex-direction: column-reverse;
    }

    .layout_header {
        display: flex;
        width: 60%;
        justify-content: center;
        font-size: 3.8vmax;
        margin: 0 -10% 0 20%;
    }

    .organization_logo {
        display: flex;
        width: 40%;
        justify-content: center;
        margin: auto;
    }

    .layout_subheader {
        font-size: 1.6vmax;
        white-space: pre-wrap;
        word-break: keep-all;
    }

    .layout_img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .image-header {
        font-size: 5vmax;
    }

    .image-subheader {
        font-size: 2.5vmax;
    }

        .image-subheader.large {
            font-size: 3.6vmax;
        }

        .image-subheader.medium {
            font-size: 3.0vmax;
        }

        .image-subheader.small {
            font-size: 2.0vmax;
        }

    .display-3 {
        font-size: 3.8vmax;
        font-weight: bold;
    }

    .display-4 {
        font-size: 3.0vmax;
        line-height: 1.6;
        margin: 0 0 30px 0;
    }

    .page_subheader {
        margin: auto;
        font-size: 2.2vmax;
        line-height: 1.6;
        max-width: 95%;
        padding: 10px 0px 30px 0px;
    }

    .page_text {
        padding-top: 10px;
        margin: auto;
        font-size: 1.5vmax;
        max-width: 80%;
    }

    .text-center .bottom-nav {
        font-size: 1.6vmax;
        line-height: 1.6;
        padding: 10px;
    }

    .contact_subtitle {
        margin: auto;
        font-size: 2.2vmax;
        line-height: 1.8;
        max-width: 95%;
        padding: 10px 0px 25px 0px;
    }

    .contact_info {
        font-size: 2.4vmax;
        line-height: 3.0;
    }

    .nav-item {
        font-size: 3.6vw;
        padding-top: 10px;
    }

    .flex_box_right {
        flex: 0 0 33%;
        margin: 0px 0px 25px 0px;
        box-shadow: inset 0 0 0 1px black;
        height: 100%;
        padding: 10px 5px 10px 5px;
    }

        .flex_box_right.contact {
            flex: 0 0 40%;
            height: 15vmax;
            box-shadow: none;
        }

    .flex_box_left {
        flex: 0 0 67%;
        margin: 0px 0px 50px 0px;
        flex-grow: 1;
        box-shadow: inset 0 0 0 1px black;
        height: 100%;
        padding: 10px 5px 10px 5px;
    }

        .flex_box_left.contact {
            flex: 0 0 60%;
            height: 14vmax;
            box-shadow: none;
            text-align: center;
        }

    .flex_box_wrapper {
        display: flex;
        height: 100%;
        max-width: 100%;
        flex-flow: column;
    }

        .flex_box_wrapper.contact {
            flex-flow: row;
            max-width: 100%;
        }
}

/*Desktop settings*/
@media only screen and (min-width: 576px) {
    .row {
        height: calc(17em + 0.2vw);
        width: calc(100em + 0.2vw);
        margin: auto;
    }

    .header_container {
        display: flex;
        flex-direction: row;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(231, 245, 207, 1);
        min-width: 210px;
        box-shadow: 1px 1px 3px #93c37c, -1px -1px 3px #93c37c;
        padding: 5px 5px;
        z-index: 1;
        border-radius: 5px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .layout_header {
        display: flex;
        width: 60%;
        justify-content: center;
        font-size: calc(3.2em + 0.1vw);
        margin: 0 -20% 0 20%;
    }

    .organization_logo {
        display: flex;
        width: 20%;
        justify-content: center;
        margin: auto;
    }

    .layout_subheader {
        font-size: calc(1.1em + 0.1vw);
    }

    .layout_img {
        width: 100%;
        height: 100%;
        background-size: cover;
        box-shadow: 1px 1px 3px #93c37c, -1px -1px 3px #93c37c;
    }

    .image-header {
        font-size: 1.9vmax;
    }

    .image-subheader {
        font-size: 1.2vmax;
    }

        .image-subheader.large {
            font-size: 1.6vmax;
        }

        .image-subheader.medium {
            font-size: 1.4vmax;
        }

        .image-subheader.small {
            font-size: 0.9vmax;
        }

    .page_subheader {
        margin: auto;
        font-size: calc(1.4em + 0.1vw);
        max-width: 80%;
        padding: 30px 0px 70px 0px;
    }

    .page_text {
        padding-top: 10px;
        margin: auto;
        font-size: calc(1.0em + 0.1vw);
        line-height: 1.6;
        max-width: 80%;
    }

    .page_list {
        line-height: 2.0;
    }

    .display-3 {
        font-size: calc(2.0em + 0.1vw);
        font-weight: unset;
        line-height: 1.6;
        font-style: normal;
        margin: 15px 0 0 0;
        padding: 30px 0px 50px 0px;
    }

    .display-4 {
        font-size: calc(1.2em + 0.1vw);
        font-weight: bold;
        line-height: 1.6;
    }

    .nav-item {
        font-size: calc(1.0em + 0.1vw);
    }

    .text-center.bottom-nav {
        font-size: calc(1.0em + 0.1vw);
        line-height: 1.8;
        padding: 30px;
    }

    .client_quote {
        font-size: calc(0.9em + 0.1vw);
        text-align: center;
        font-weight: bold;
    }

    .quote_headline {
        font-size: calc(0.9em + 0.1vw);
        font-style: oblique;
    }

    .quote {
        font-style: oblique;
    }

    .quote_said_by {
        font-style: normal;
        font-weight: bold;
    }

    .contact_info {
        font-size: calc(1.8em + 0.1vw);
        line-height: 3.0;
    }

    .flex_box_right {
        flex: 0 0 33%;
        margin: 0px 0px 20px 20px;
        height: 100%;
        padding: 10px 10px 0px 10px;
        background-color: hsla(120,40%,70%,0.1);
        box-shadow: 1px 1px 3px 2px #93c37c;
        border-radius: 20px;
    }

        .flex_box_right.contact {
            flex: 0 0 50%;
            height: calc(26.45em + 0.1vw);
            padding: 0px;
            background-color: transparent;
        }

    .flex_box_left {
        flex: 0 0 67%;
        margin: 0px 0px 20px -10px;
        flex-grow: 1;
        box-shadow: inset 0 0 0 1px black;
        height: 100%;
        padding: 10px 10px 10px 10px;
        background-color: hsla(120,40%,70%,0.1);
        box-shadow: 1px 1px 3px 2px #93c37c;
        /*box-shadow: 1px 1px 1px #93c37c, -1px -1px 10px #A9A9A9;*/
        border-radius: 20px;
    }

        .flex_box_left.contact {
            margin-top: 7%;
            flex: 0 0 50%;
            /*height: calc(25.5em + 0.1vw);*/
            box-shadow: none;
            text-align: right;
            background-color: transparent;
        }

    .flex_box_wrapper {
        display: flex;
        height: 100%;
        max-width: 130%;
    }

    .flex_box_wrapper_column_full {
        display: flex;
        flex-flow: column;
        height: 100%;
        max-width: 130%;
    }

    .flex_box_full {
        flex: 0 0 100%;
        margin: auto auto 40px auto;
        flex-grow: 1;
        height: 100%;
        width: 70%;
        padding: 10px 10px 10px 10px;
        background-color: hsla(120,40%,70%,0.08);
        box-shadow: 1px 1px 3px 2px #93c37c;
        border-radius: 20px;
        text-align: center;
    }

    .flex_box_left_50_percent {
        flex: 0 0 50%;
        margin: 0px 0px 0px 0px;
        flex-grow: 1;
        height: 100%;
        padding: 10px 10px 10px 10px;
        background-color: hsla(120,40%,70%,0.08);
        box-shadow: 1px 1px 3px 2px #93c37c;
        border-radius: 20px;
    }

    .flex_box_right_50_percent {
        flex: 0 0 50%;
        margin: 0px 0px 10px 10px;
        flex-grow: 1;
        height: 100%;
        padding: 10px 10px 10px 10px;
        background-color: hsla(120,40%,70%,0.08);
        box-shadow: 1px 1px 3px 2px #93c37c;
        border-radius: 20px;
    }

    .flex_box_wrapper_column_left {
        display: flex;
        flex: 0 0 67%;
        height: 100%;
        flex-direction: column;
    }

    .flex_box_wrapper_column_right {
        display: flex;
        flex: 0 0 33%;
        height: 100%;
        flex-direction: column;
    }
}

/*Global properties*/

.google_container {
    position: relative;
    height: 35vmax;
}

.google_iframe {
    display: block;
    margin: 30px auto;
    padding: 0px 0px 0px 0px;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 2px #93c37c;
}

.img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.thumbnail:hover {
    background-color: transparent;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.headline, .popup {
    opacity: 1;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition-duration: 0.7s;
    transform: translateY(0);
}

.headline {
    display: block;
}

.popup {
    height: 0;
    opacity: 0;
}

.wrapper_box {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

    .wrapper_box:hover .headline {
        height: 0;
        opacity: 0;
    }

    .wrapper_box:hover .popup {
        height: 100%;
        opacity: 1;
    }

.col-md-4 {
    padding: 5px 5px 5px 5px;
    flex: 0 0 25%;
    max-height: 100%;
}

.row {
    display: flex;
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.subjectbox {
    max-height: 100%;
    height: 100%;
    width: 100%;
    color: white;
    border-width: 3px;
    border-color: #93c37c;
    border-radius: 20px;
    font-size: calc(1.8em + 0.1vw);
    background-size: cover;
    background-position: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#therapybutton {
    background-image: url("/images/terapi.jpg");
}

#supervisionbutton {
    background-image: url("/images/supervision.jpg");
}

#organizationbutton {
    background-image: url("/images/organization.jpg");
}

#teachingbutton {
    background-image: url("/images/UndervisningCut.jpg");
}

.bd-placeholder-img {
}

/*Fix border colors*/
.border-top {
    border-color: black;
}

.renderbody {
    background-image: linear-gradient(#E7F5CF, lightyellow, #E7F5CF, lightyellow, #E7F5CF);
}

.navbar {
    background-image: linear-gradient(-90deg, #E7F5CF, lightyellow, #e0ffd1, lightyellow, #E7F5CF);
}

.navbar-expand-sm {
    box-shadow: 1px 1px 3px #93c37c, -1px -1px 3px #93c37c;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
    box-shadow: 1px 1px 3px #93c37c, -1px -1px 3px #93c37c;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 1px 1px 3px #93c37c, -1px -1px 3px #93c37c;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 1; /* Vertically center the text there */
}

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1.5em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration: 10s,3s;
    -webkit-animation-timing-function: linear,ease-in-out;
    -webkit-animation-iteration-count: infinite,infinite;
    -webkit-animation-play-state: running,running;
    animation-name: snowflakes-fall,snowflakes-shake;
    animation-duration: 10s,3s;
    animation-timing-function: linear,ease-in-out;
    animation-iteration-count: infinite,infinite;
    animation-play-state: running,running
}

    .snowflake:nth-of-type(0) {
        left: 1%;
        -webkit-animation-delay: 0s,0s;
        animation-delay: 0s,0s
    }

    .snowflake:nth-of-type(1) {
        left: 10%;
        -webkit-animation-delay: 1s,1s;
        animation-delay: 1s,1s
    }

    .snowflake:nth-of-type(2) {
        left: 20%;
        -webkit-animation-delay: 6s,.5s;
        animation-delay: 6s,.5s
    }

    .snowflake:nth-of-type(3) {
        left: 30%;
        -webkit-animation-delay: 4s,2s;
        animation-delay: 4s,2s
    }

    .snowflake:nth-of-type(4) {
        left: 40%;
        -webkit-animation-delay: 2s,2s;
        animation-delay: 2s,2s
    }

    .snowflake:nth-of-type(5) {
        left: 50%;
        -webkit-animation-delay: 8s,3s;
        animation-delay: 8s,3s
    }

    .snowflake:nth-of-type(6) {
        left: 60%;
        -webkit-animation-delay: 6s,2s;
        animation-delay: 6s,2s
    }

    .snowflake:nth-of-type(7) {
        left: 70%;
        -webkit-animation-delay: 2.5s,1s;
        animation-delay: 2.5s,1s
    }

    .snowflake:nth-of-type(8) {
        left: 80%;
        -webkit-animation-delay: 1s,0s;
        animation-delay: 1s,0s
    }

    .snowflake:nth-of-type(9) {
        left: 90%;
        -webkit-animation-delay: 3s,1.5s;
        animation-delay: 3s,1.5s
    }
