@model ControllerName
@{
    ViewData["Title"] = "Kontakt mig";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>

<body>
    <div style="padding:30px 0px 70px 0px">
        <h2 title="page_subtitle" class="text-center" style="margin: auto; font-size:30px; max-width: 80%;">
            
        </h2>
    </div>
    <div class="flex_box_wrapper">
        <div class="flex_box_left" style="padding: 10px;">
            <p>
                
            </p>
        </div>
        <div class="flex_box_right" style="padding: 10px; height: 300px;">
            <p class="" title="previous_said" style="font-style:italic">
                Tidligere kunde siger:<br />
            </p>
            <p title="statement" style="font-style:oblique">
                
            </p>
            <p title="said_by">
                
            </p>
        </div>
    </div>
</body>
<div class="text-center">
    <a> @Html.ActionLink("Tilbage til toppen", "Contact", controllerstring, null, null, "BackToTop", null, null) | </a>
    <a> @Html.ActionLink("Tilbage til forsiden", "Index", "Home", null, null, "BackToTop", null, null) </a>

</div>