@model ControllerName
@{
    ViewData["Title"] = "Kontakt mig";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<body>
    <div>
        <h2 class="page_subheader text-center" title="page_subtitle">
            Du kan helt uforpligtende kontakte mig på nedenstående informationer:
        </h2>
    </div>
    <div class="flex_box_wrapper contact">
        <div class="flex_box_left contact">
            <p class="contact_info">
                <a href="tel:+4560185111">+45 60185111</a><br />
                <a href="mailto:jank61@hotmail.com?subject=Forespørgsel%20på%20opgave">jank61@hotmail.com</a><br />
            </p>
        </div>
        <div>
            <img class="flex_box_right contact" src="~/images/JensAnkersenHvemErJeg.png" />
        </div>
    </div>
    <h2 class="display-3 text-center">
        Find vej:
    </h2>
    <div class="google_container">
            <iframe class="google_iframe"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAzz8pDlbJEz4AvwQOSGBqLDVyJEPlYgHk&q=Vinkældervej+12,Odense+Danmark&zoom=16"
                    title="googleMaps"
                    frameborder="0"
                    aria-hidden="false"
                    tabindex="0"></iframe><br /><br /><br />
    </div>
    
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>