@model ControllerName
@{
    ViewData["Title"] = "Supervision";

    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">
        Supervision til ledere og medarbejdere
    </h1>
</div>
<body>
    <div class="flex_box_wrapper page_text">
        <div class="flex_box_left">
            <p>
                <a class="display-4">
                    @ViewData["Title"]
                </a><br /><br />

                Supervision er en anerkendende, idéudviklende og respektfuld måde at tale om faglige problemstillinger på.
                Jeg har fokus på læringsaspektet - dvs. den enkelte medarbejder arbejder med sin egen tilgang til at få komplekse problemstillinger i ønsket retning.<br /><br />

                Jeg sætter fokus på alle de implicerede parters samspil og indbyrdes relationer med henblik på at åbne for nye perspektiver, nye forståelser og dermed nye handlemuligheder.<br /><br />

                Supervision er et fagligt udviklende redskab til enkeltpersoner og grupper, hvor der <b>søges efter nye forståelser, nye vinkler, nye måder at gå til svære sager på - og efter ny energi, når medarbejdere er kørt træt eller fast i et klientforløb.</b><br /><br />

                <b>Supervision giver mulighed for at:</b>
                <br /><br />

                <a class="page_list">
                    •&nbsp;&nbsp;&nbsp;&nbsp;Udvikle sig fagligt og få øje på egen andel af forandringsprocesser<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Forbedre kvaliteten af sit faglige arbejde<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Få større indblik i egne og kollegers kompetencer<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;At skabe klarhed og få et overblik over komplicerede emner<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Få større arbejdsglæde og energi<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;Løse specifikke faglige problemer<br />
                    •&nbsp;&nbsp;&nbsp;&nbsp;I lederteam få sparring og støtte i udøvelsen af ledelsesrollen samt egen rolle i organisationen<br />
                </a><br />

                Supervision kan gives til enkelt person eller hele personalegrupper.
                Fordelen ved, at der er flere tilstede er, at flere kan lære på én gang og samarbejdende medarbejdere får fælles viden.<br />
                Flere til stede giver mulighed for at arbejde med "reflekterende team" og /eller "outsider witness group".
                Herved øges mulighederne for udvikle flest mulige perspektiver på en problemstilling.<br /><br />


                <b style="font-size:large;">Klienten som co-supervisor</b><br />

                Jeg har erfaring med, at det kan være særdeles virksomt, at klienten, beboeren, borgeren er tilstede under supervisionsseancen -
                <b>som supervisors hjælper</b> til at opkvalificere medarbejderne i forløb, hvor medarbejderne søger supervision på deres udfordringer i relationen (behandlingen/støtten) til pågældende borger.<br /><br />

                Min supervision tager udgangspunkt i en <b>systemisk og narrativ</b> ramme.
            </p>
        </div>
        <div class="flex_box_wrapper_column_right">
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Jeg går altid derfra med stor optimisme[...]”</b>
                </p>
                <p class="quote" title="statement">
                    ”Jeg går altid derfra med stor optimisme og lyst til at tage fat i alle vores spændende og komplicerede opgaver i marken.”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Dennis Mayer, Uddannelsesmentor, Unge- og Aktivitetsafdelingen Kolding Kommune.
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Jens har en empatisk evne til at spørge ind til personalet, som gør at de ofte selv finder løsningen.”</b>
                </p>
                <p class="quote" title="statement">
                    ”Jens er en faglig dygtig supervisor. Han opfatter meget hurtigt borgerproblematikker og hvilke udfordringer medarbejder sidder og fortæller om. Har ikke oplevet, at Jens ikke har ramt plet i de år, vi har nydt hans bekendtskab.
                    Jens har en empatisk evne til at spørge ind til personalet, som gør at de ofte selv finder løsningen. Jens er god til at være opmærksom på personalet, når de har svære emner oppe.”.
                </p>
                <p class="quote_said_by" title="said_by">
                    - Teamleder Jette Kristensen, Bostedet Solvang, Socialpsykiatrisk botilbud Lejre Kommune.
                </p>
            </div>
            <div class="flex_box_right">
                <p class="quote_headline">
                    <b>”Det har været fantastisk.”</b>
                </p>
                <p class="quote" title="statement">
                    ”Det er første gang jeg har fået supervision, hvor jeg har fået reelle redskaber at arbejde med”.<br /><br />
                    "Jeg føler godt nok at han forstår hvad vi står i."<br /><br />
                    "Jeg vil godt nok håbe, at vi kan få ham fremadrettet for det har været fantastisk."
                </p>
                <p class="quote_said_by" title="said_by">
                    - Medarbejdere Botilbud Vesterled v. Gitte Sundekilde, Teamleder Handicap og Psykiatri.
                </p>
            </div>
        </div>
    </div>
</body>
<div class="text-center bottom-nav">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a> |
    <a class="thumbnail" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="BackToTop">Tilbage til forsiden</a>
</div>