@model ControllerName
@{
    ViewData["Title"] = "Home Page";
    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">Jeg tilbyder følgende:</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button class="subjectbox" id="therapybutton" onclick="window.location='Therapy/Therapy'">
                Terapeutiske Samtaler
            </button>
        </div>
        <div class="col-md-4">
            <button class="subjectbox" id="supervisionbutton" onclick="window.location='Supervision/Supervision'">
                Supervision
            </button>
        </div>
        <div class="col-md-4">
            <button class="subjectbox" id="organizationbutton" onclick="window.location='Organization/Organization'">
                Organisations Udvikling
            </button>
        </div>
        <div class="col-md-4">
            <button class="subjectbox" id="teachingbutton" onclick="window.location='Teaching/Teaching'">
                Undervisning
            </button>
        </div>
    </div>
</div>
<div class="text-center">
    <a> @Html.ActionLink("Tilbage til toppen", "Index", controllerstring, null, null, "BackToTop", null, null)</a>
</div>
