@model ControllerName
@{
    ViewData["Title"] = "Home Page";
    string controllerstring = "";
    if (!String.IsNullOrWhiteSpace(Model.ControllerString))
    {
        controllerstring = Model.ControllerString;
    }
}

<div class="text-center">
    <h1 class="display-3">Jeg tilbyder nedenstående</h1>
</div>

<div class="container">
    <div class="row">
        <div class="wrapper_box col-md-4">
            <div class="headline">
                <button class="subjectbox" id="therapybutton" onclick="window.location='Therapy/Index'">
                    <p class="image-header">
                        Terapi samtaler
                    </p>
                </button>
            </div>
            <div class="popup thumbnail">
                <button class="subjectbox" id="therapybutton" onclick="window.location='Therapy/Index'">
                    <p class="image-subheader medium">
                        <b>Terapi samtaler</b> til enkeltpersoner, til par og til familier. Der er åben for nye henvendelser.
                    </p>
                </button>
            </div>
        </div>
        <div class="wrapper_box col-md-4">
            <div class="headline">
                <button class="subjectbox" id="supervisionbutton" onclick="window.location='Supervision/Index'">
                    <p class="image-header">
                        Supervision
                    </p>
                </button>
            </div>
            <div class="popup">
                <button class="subjectbox" id="supervisionbutton" onclick="window.location='Supervision/Index'">
                    <p class="image-subheader large">
                        <b>Supervision</b> til medarbejdere og ledere i grupper eller individuelt.
                    </p>
                </button>
            </div>
        </div>
        <div class="wrapper_box col-md-4">
            <div class="headline">
                <button class="subjectbox" id="organizationbutton" onclick="window.location='Organization/Index'">
                    <p class="image-header">
                        Organisations-<br />udvikling
                    </p>
                </button>
            </div>
            <div class="popup">
                <button class="subjectbox" id="organizationbutton" onclick="window.location='Organization/Index'">
                    <p class="image-subheader">
                        <b>Organisations-<br />udvikling</b> i form af personaletræning, facilitere organisationer i forandring, konflikthåndtering.
                    </p>
                </button>
            </div>
        </div>
        <div class="wrapper_box col-md-4">
            <div class="headline">
                <button class="subjectbox" id="teachingbutton" onclick="window.location='Teaching/Index'">
                    <p class="image-header">
                        Undervisning
                    </p>
                </button>
            </div>
            <div class="popup">
                <button class="subjectbox" id="teachingbutton" onclick="window.location='Teaching/Index'">
                    <p class="image-subheader small">
                        <b>Uddannelsesforløb og undervisning</b> af kortere eller længere varighed, kurser og foredrag og temadage indenfor emner som kommunikation, teori og praksis i systemisk og narrativ tilgang, konflikthåndtering samt emner indenfor psykiatri- og misbrugsbehandling.
                    </p>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Du er altid velkommen til at <a href="tel:+4560185111">ringe</a> eller sende mig en <a href="mailto:jank61@hotmail.com?subject=Forespørgsel%20på%20opgave">mail</a> helt uforpligtende med en hvilken som helst opgave du ønsker at høre mere om.</h1>
</div>

<div class="bottom-nav text-center">
    <a class="thumbnail" asp-area="" asp-controller="@controllerstring" asp-action="Index" asp-fragment="BackToTop">Tilbage til toppen</a>
</div>